#container{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#continue-shopping{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#logout{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}